  # Challenge

  ## Identifying Outliers using Standard Deviation

In [238]:
# initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [239]:
# create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/transaction_db")

# generate query string
query = """
    select  a.transactionid, a.transactiondate, a.transactionamount, 
            a.creditcardnumber, a.merchantid, b.cardholderid, c.merchantname, d.merchantcategoryname
    FROM cctransaction as a 
    INNER join creditcard as b 
    ON a.creditcardnumber = b.creditcardnumber
    INNER join merchant as c
    ON a.merchantid = c.merchantid
    INNER join merchantcategory as d
    ON c.merchantcategoryid = d.merchantcategoryid
    ORDER BY b.cardholderid, a.creditcardnumber, a.transactiondate, a.transactionamount;
"""

# Read the SQL query into a DataFrame
txn_all = pd.read_sql(query, engine)

# Show the Dataframe
txn_all

,transactionid,transactiondate,transactionamount,creditcardnumber,merchantid,cardholderid,merchantname,merchantcategoryname
0,3490,2018-01-02 16:14:55,3.12,3517111172421930,21,1,Robertson-Smith,pub
1,1436,2018-01-10 13:41:23,11.50,3517111172421930,49,1,"Davis, Lowe and Baxter",food truck
2,1560,2018-01-14 13:30:29,10.94,3517111172421930,19,1,Santos-Fitzgerald,pub
3,2978,2018-01-28 14:38:33,19.93,3517111172421930,71,1,Greene LLC,restaurant
4,1914,2018-01-29 06:32:49,10.24,3517111172421930,49,1,"Davis, Lowe and Baxter",food truck
5,3205,2018-01-30 16:34:45,16.91,3517111172421930,112,1,Greer Inc,bar
6,1545,2018-01-31 09:42:00,10.49,3517111172421930,77,1,"Brown, Ballard and Glass",restaurant
7,1516,2018-02-01 20:44:12,10.24,3517111172421930,51,1,Fisher-Bolton,restaurant
8,1836,2018-02-14 11:14:37,11.38,3517111172421930,18,1,Romero-Jordan,food truck
9,2785,2018-02-19 12:45:15,15.59,3517111172421930,38,1,Brown LLC,bar
10,1324,2018-02-22 01:15:43,12.35,3517111172421930,122,1,Perry and Sons,bar
11,1760,2018-02-25 11:23:34,10.49,3517111172421930,127,1,"Williams, Wright and Wagner",coffee shop
12,2402,2018-02-26 03:56:40,2.38,3517111172421930,81,1,Fowler and Sons,food truck
13,924,2018-02-28 00:50:21,10.21,3517111172421930,56,1,Smith PLC,bar
14,251,2018-03-03 02:05:51,3.49,3517111172421930,88,1,Armstrong PLC,food truck
15,2030,2018-03-09 00:31:16,3.63,3517111172421930,5,1,Miller-Blevins,pub
16,2609,2018-03-09 14:53:23,16.07,3517111172421930,117,1,Mitchell Group,coffee shop
17,575,2018-03-10 23:00:35,0.76,3517111172421930,2,1,Riggs-Adams,restaurant
18,1467,2018-03-11 11:44:49,10.20,3517111172421930,49,1,"Davis, Lowe and Baxter",food truck
19,731,2018-03-13 03:50:55,2.97,3517111172421930,144,1,"Walker, Deleon and Wolf",restaurant
20,1063,2018-03-19 22:28:56,10.31,3517111172421930,56,1,Smith PLC,bar
21,2853,2018-03-22 11:56:50,18.30,3517111172421930,35,1,Jarvis-Turner,pub
22,1810,2018-03-28 23:13:53,10.92,3517111172421930,82,1,Day-Murray,food truck
23,2220,2018-03-30 17:36:58,1.26,3517111172421930,61,1,"Richardson, Smith and Jordan",food truck
24,1072,2018-03-31 00:50:30,11.53,3517111172421930,139,1,Kidd-Lopez,food truck
25,1515,2018-04-10 02:51:58,10.71,3517111172421930,91,1,Turner Ltd,pub
26,3045,2018-04-12 12:53:53,17.39,3517111172421930,129,1,Sweeney-Paul,coffee shop
27,2472,2018-04-21 21:42:14,18.68,3517111172421930,94,1,Yoder-Zavala,food truck
28,1,2018-04-30 18:50:48,5.62,3517111172421930,42,1,Kennedy-Chen,bar
29,67,2018-05-05 17:49:05,8.42,3517111172421930,75,1,Martinez Group,restaurant
...,...,...,...,...,...,...,...,...
3470,1893,2018-06-12 02:08:24,10.15,4319653513507,64,25,"Cline, Myers and Strong",restaurant
3471,2979,2018-06-14 12:17:21,16.29,4319653513507,106,25,Carter-Blackwell,pub
3472,2582,2018-06-22 06:16:50,1813.00,4319653513507,40,25,"Cox, Montgomery and Morgan",bar
3473,3218,2018-06-23 22:36:00,16.61,4319653513507,144,25,"Walker, Deleon and Wolf",restaurant
3474,2271,2018-07-05 00:07:24,2.03,4319653513507,64,25,"Cline, Myers and Strong",restaurant
3475,20,2018-07-05 01:36:32,5.15,4319653513507,27,25,Horn Ltd,coffee shop
3476,2305,2018-07-11 21:03:30,1.67,4319653513507,44,25,Little-Floyd,pub
3477,2425,2018-07-22 01:03:31,1.20,4319653513507,11,25,Stanton Group,pub
3478,1222,2018-08-14 02:20:20,10.19,4319653513507,125,25,Russell and Sons,pub
3479,1877,2018-08-16 10:01:00,1001.00,4319653513507,120,25,"Vega, Jones and Castro",food truck
3480,2255,2018-08-16 17:35:05,3.35,4319653513507,95,25,Baxter-Smith,restaurant
3481,3444,2018-09-04 09:20:30,1.61,4319653513507,30,25,Atkinson Ltd,bar
3482,1135,2018-09-12 05:24:42,11.91,4319653513507,27,25,Horn Ltd,coffee shop
3483,2203,2018-09-17 05:55:03,5.34,4319653513507,41,25,"Ford, Williams and Dunn",pub
3484,2002,2018-09-26 21:48:24,1.66,4319653513507,144,25,"Walker, Deleon and Wolf",restaurant
3485,2970,2018-10-02 19:43:34,17.47,4319653513507,42,25,Kennedy-Chen,bar
3486,2051,2018-10-28 02:12:58,137.00,4319653513507,16,25,"Bryant, Thomas and Collins",pub
3487,1460,2018-10-28 13:28:44,10.00,4319653513507,75,25,Martinez Group,restaurant
3488,1061,2018-11-02 20:08:03,10.55,4319653513507,71,25,Greene LLC,restaurant
3489,1630,2018-11-04 10:52:23,10.00,4319653513507,125,25,Russell and Sons,pub
3490,504,2018-11-11 14:47:11,5.16,4319653513507,126,25,Bartlett and Sons,pub
3491,1182,2018-11-18 19:45:58,11.38,4319653513507,61,25,"Richardson, Smith and Jordan",food truck
3492,914,2018-11-19 05:07:54,10.63,4319653513507,148,25,"Huerta, Keith and Walters",food truck
3493,994,2018-11-25 06:47:54,11.33,4319653513507,65,25,"Allen, Ramos and Carroll",pub
3494,1219,2018-12-03 01:22:15,10.80,4319653513507,150,25,Johnson and Sons,coffee shop
3495,2947,2018-12-06 02:10:30,12.86,4319653513507,80,25,"Kelly, Dyer and Schmitt",food truck
3496,1393,2018-12-07 17:10:58,11.70,4319653513507,44,25,Little-Floyd,pub
3497,1339,2018-12-11 11:42:13,10.58,4319653513507,84,25,Marshall-Rojas,coffee shop
3498,1409,2018-12-12 16:16:21,10.05,4319653513507,40,25,"Cox, Montgomery and Morgan",bar
3499,1863,2018-12-18 13:33:37,1074.00,4319653513507,67,25,"Maxwell, Tapia and Villanueva",coffee shop

In [240]:
# code a function to identify outliers based on standard deviation
def find_outliers_std(df_in, col_name):
    
    # Set upper and lower limit to 3 standard deviation
    data_std = df_in[col_name].std()
    data_mean = df_in[col_name].mean()
    outliers_cut_off = data_std * 3
    
    print(f"Standard Deviation: ", data_std, "Mean: ", data_mean, "Outliers Cutoff: ", outliers_cut_off)
    
    lower_limit = data_mean - outliers_cut_off 
    upper_limit = data_mean + outliers_cut_off
    
    print(f"Lower Limit: ", lower_limit, "Upper Limit: ", upper_limit)
    
    df_out = df_in.loc[(df_in[col_name] < lower_limit) | (df_in[col_name] > upper_limit)]
    
    return df_out

In [241]:
# find anomalous transactions for 3 random card holders

cchidlist = txn_all.cardholderid.unique().tolist()
sample_cardholder = random.sample(cchidlist, 3)

outliers_std = pd.DataFrame()

for cchid in sample_cardholder:
    print(f"Cardholder ID: ", cchid)
    
    txn_data_for_cchid = pd.DataFrame()
    df_out = pd.DataFrame()
    
    txn_data_for_cchid = txn_all[txn_all["cardholderid"] == cchid]
    df_out = find_outliers_std(txn_data_for_cchid, 'transactionamount')
    
    outliers_std = outliers_std.append(df_out)
    
outliers_std

Cardholder ID:  6
Standard Deviation:  391.2879258989864 Mean:  115.3125 Outliers Cutoff:  1173.863777696959
Lower Limit:  -1058.551277696959 Upper Limit:  1289.176277696959
Cardholder ID:  3
Standard Deviation:  329.35605432335615 Mean:  139.17224137931035 Outliers Cutoff:  988.0681629700684
Lower Limit:  -848.8959215907581 Upper Limit:  1127.2404043493789
Cardholder ID:  18
Standard Deviation:  324.71421622143686 Mean:  90.982030075188 Outliers Cutoff:  974.1426486643106
Lower Limit:  -883.1606185891226 Upper Limit:  1065.1246787394987

,transactionid,transactiondate,transactionamount,creditcardnumber,merchantid,cardholderid,merchantname,merchantcategoryname
591,2710,2018-04-21 19:41:51,2108.0,3581345943543942,130,6,"Brown, Estrada and Powers",coffee shop
603,3225,2018-07-03 14:56:36,1398.0,3581345943543942,8,6,Russell-Thomas,restaurant
610,1459,2018-08-05 01:06:38,1379.0,3581345943543942,145,6,Hood-Phillips,bar
615,3125,2018-09-02 06:17:00,2001.0,3581345943543942,18,6,Romero-Jordan,food truck
616,2984,2018-09-11 15:16:47,1856.0,3581345943543942,138,6,Mccullough-Murphy,food truck
255,1334,2018-07-11 16:55:22,1159.0,30078299053512,107,3,Rowe-Abbott,pub
256,1349,2018-07-14 06:09:18,1160.0,30078299053512,136,3,Martinez-Robinson,bar
2357,3098,2018-02-19 22:48:25,1839.0,344119623920892,95,18,Baxter-Smith,restaurant
2367,1359,2018-04-03 03:23:37,1077.0,344119623920892,100,18,Townsend-Anderson,restaurant
2372,3139,2018-06-03 20:02:28,1814.0,344119623920892,123,18,"Boone, Davis and Townsend",pub
2391,1431,2018-09-10 22:49:41,1176.0,344119623920892,72,18,Lopez-Kelly,restaurant
2408,3252,2018-11-17 05:30:43,1769.0,344119623920892,18,18,Romero-Jordan,food truck
2410,1326,2018-12-13 12:09:58,1154.0,344119623920892,8,18,Russell-Thomas,restaurant

  ## Identifying Outliers Using Interquartile Range

In [242]:
# code a function to identify outliers based on interquartile range

def find_outliers_iqr(df_in, col_name): 
    q1 = df_in[col_name].quantile(0.25)
    q3 = df_in[col_name].quantile(0.75)
    iqr = q3-q1  #Interquartile range
    
    fence_low  = q1-1.5*iqr
    fence_high = q3+1.5*iqr
      
    df_out = df_in.loc[(df_in[col_name] < fence_low) | (df_in[col_name] > fence_high)]
    
    return df_out

In [244]:
# find anomalous transactions for 3 random card holders

cchidlist = txn_all.cardholderid.unique().tolist()
cchidlist
sample_cardholder = random.sample(cchidlist, 3)
sample_cardholder

outliers_iqr = pd.DataFrame()

for cchid in sample_cardholder:
    print(f"Cardholder ID: ", cchid)
    
    txn_data_for_cchid = pd.DataFrame()
    df_out = pd.DataFrame()
    
    txn_data_for_cchid = txn_all[txn_all["cardholderid"] == cchid]
    df_out = find_outliers_iqr(txn_data_for_cchid, 'transactionamount')
    
    outliers_iqr = outliers_iqr.append(df_out)
    
outliers_iqr

Cardholder ID:  12
Cardholder ID:  2
Cardholder ID:  22

,transactionid,transactiondate,transactionamount,creditcardnumber,merchantid,cardholderid,merchantname,merchantcategoryname
1527,99,2018-01-02 23:27:46,1031.0,501879657465,95,12,Baxter-Smith,restaurant
1531,2667,2018-01-23 06:29:37,1678.0,501879657465,92,12,Garcia-White,pub
1541,2610,2018-03-12 00:44:01,1530.0,501879657465,20,12,Kim-Lopez,coffee shop
1543,236,2018-03-20 10:19:25,852.0,501879657465,35,12,Jarvis-Turner,pub
1553,1622,2018-06-21 13:16:25,1102.0,501879657465,128,12,"Pitts, Salinas and Garcia",coffee shop
1558,3318,2018-06-27 01:27:09,1592.0,501879657465,136,12,Martinez-Robinson,bar
1559,1129,2018-06-28 21:13:52,1108.0,501879657465,35,12,Jarvis-Turner,pub
1577,1856,2018-09-23 19:20:23,1075.0,501879657465,13,12,Giles and Sons,pub
1586,2240,2018-11-23 09:08:05,233.0,501879657465,47,12,Martin Inc,restaurant
1587,1204,2018-11-25 20:44:07,1123.0,501879657465,59,12,Williams Group,bar
1588,2760,2018-11-27 15:36:05,1802.0,501879657465,70,12,White-Hall,bar
1589,208,2018-12-14 08:51:41,748.0,501879657465,96,12,Johnson-Fuller,pub